%center
  %h2 14 Mindfulness Trainings

%h3  1. Openness
Aware of the suffering created by fanaticism and intolerance, I am
determined not to be idolatrous about or bound to any doctrine, theory
or ideology, even Buddhist ones. Buddhist teachings are guiding means
to help me learn to look deeply and to develop my understanding and
compassion. They are not doctrines to fight, kill or die for.
%p

%h3  2. Non-attachment to Views
Aware of suffering created by attachment to views and wrong
perceptions, I am determined to avoid being narrow-minded and bound to
present views. I will learn and practise non-attachment from views in
order to be open to others’ insights and experiences. I am aware that
the knowledge I presently possess is not changeless, absolute
truth. Truth is found in life and I will observe life within and
around me in every moment, ready to learn throughout my life.
%p

%h3  3. Freedom of Thought
Aware of the suffering brought about when I impose my views on others,
I am committed not to force others, even my children, by any means
whatsoever – such as authority, threat, money, propaganda or
indoctrination – to adopt my views. I will respect the right of others
to be different and to choose what to believe and how to decide. I
will, however, help others renounce fanaticism and narrowness through
compassionate dialogue.
%p

%h3  4. Awareness of Suffering
Aware that looking deeply at the nature of suffering can help me
develop compassion and find ways out of suffering, I am determined not
to avoid or close my eyes before suffering. I am committed to finding
ways, including personal contact, images and sounds, to be with those
who suffer, so I can understand their situation deeply and help them
transform their suffering into compassion, peace and joy.
%p

%h3  5. Simple, Healthy Living
Aware that true happiness is rooted in peace, solidity, freedom and
compassion, and not in wealth or fame, I am determined not to take as
the aim of my life fame, profit, wealth or sensual pleasure, nor to
accumulate wealth while millions are hungry and dying. I am committed
to living simply and sharing my time, energy and material resources
with those in real need. I will practise mindful consuming, not using
alcohol, drugs or any other products that bring toxins into my own and
the collective body and consciousness.
%p

%h3  6. Dealing with Anger
Aware that anger blocks communication and creates suffering, I am
determined to take care of the energy of anger when it arises and to
recognise and transform the seeds of anger that lie deep in my
consciousness. When anger comes up, I am determined not to do or say
anything, but to practise mindful breathing or mindful walking and
acknowledge, embrace and look deeply into my anger. I will learn to
look with the eyes of compassion on those I think are the cause of my
anger.
%p

%h3  7. Dwelling Happily in the Present Moment
Aware that life is available only in the present moment and that it is
possible to live happily in the here and now, I am committed to
training myself to live deeply each moment of daily life. I will try
not to lose myself in dispersion or be carried away by regrets about
the past, worries about the future, or craving, anger or jealousy in
the present. I will practise mindful breathing to come back to what is
happening in the present moment. I am determined to learn the art of
mindful living by touching the wondrous, refreshing and healing
elements that are inside and around me, and by nourishing seeds of
joy, peace, love and understanding in myself, thus facilitating the
work of transformation and healing in my consciousness.
%p

%h3  8. Community and Communication
Aware that lack of communication always brings separation and
suffering, I am committed to training myself in the practice of
compassionate listening and loving speech. I will learn to listen
deeply without judging or reacting and refrain from uttering words
that can create discord or cause the community to break. I will make
every effort to keep communications open and to reconcile and resolve
all conflicts, however small.
%p

%h3  9. Truthful and Loving Speech
Aware that words can create suffering or happiness, I am committed to
learning to speak truthfully and constructively, using only words that
inspire hope and confidence. I am determined not to say untruthful
things for the sake of personal interest or to impress people, nor to
utter words that might cause division or hatred. I will not spread
news that I do not know to be certain nor criticise or condemn things
of which I am not sure. I will do my best to speak out about
situations of injustice, even when doing so may threaten my safety.
%p

%h3  10. Protecting the Sangha
Aware that the essence and aim of a Sangha is the practise of
understanding and compassion, I am determined not to use the Buddhist
community for personal gain or profit or transform our community into
a political instrument. A spiritual community should, however, take a
clear stand against oppression and injustice and should strive to
change the situation without engaging in partisan conflicts.  
%p

%h3  11. Right Livelihood
Aware that great violence and injustice have been done to the
environment and society, I am committed not to live with a vocation
that is harmful to humans and nature. I will do my best to select a
livelihood that helps realize my ideal of understanding and
compassion. Aware of global economic, political and social realities,
I will behave responsibly as a consumer and as a citizen, not
investing in companies that deprive others of their chance to live.
%p

%h3  12. Reverence for Life
Aware that much suffering is caused by war and conflict, I am
determined to cultivate non-violence, understanding and compassion in
my daily life, to promote peace education, mindful mediation and
reconciliation, within families, communities, nations and in the
world. I am determined not to kill and not to let others kill. I will
diligently practice deep looking with my Sangha to discover better
ways to protect life and prevent war.
%p

%h3  13. Generosity
Aware of the suffering caused by exploitation, social injustice,
stealing and oppression, I am committed to cultivating loving kindness
and learning ways to work for the well-being of people, animals,
plants and minerals. I will practice generosity by sharing my time,
energy and material resources with those who are in need. I am
determined not to steal and not to possess anything that should belong
to others. I will respect the property of others, but will try to
prevent others from profiting from human suffering or the suffering of
other beings.
%p

%h3  14. Right Conduct
Aware that sexual relations motivated by craving cannot dissipate the
feeling of loneliness but will create more suffering, frustration, and
isolation, we are determined not to engage in sexual relations without
mutual understanding, love, and a long-term commitment. In sexual
relations, we must be aware of future suffering that may be caused. We
know that to preserve the happiness of ourselves and others, we must
respect the rights and commitments of ourselves and others. We will do
everything in our power to protect children from sexual abuse and to
protect couples and families from being broken by sexual
misconduct. We will treat our bodies with respect and preserve our
vital energies (sexual, breath, spirit) for the realization of our
bodhisattva ideal. We will be fully aware of the responsibility of
bringing new lives into the world, and will meditate on the world into
which we are bringing new beings.

