%center
  %h2 Five remembrances

%h3 1. I am of the nature to grow old. 
There is no way to escape growing old. Think about someone you know
and the changes you have seen him or her go through as they age. Think
about yourself—growing from a baby to a child into a teenager and onto
young adulthood to being a mature adult. Just observe that you keep
the same body—but it gradually changes all of the time.
%p

%h3 2.  I am of the nature to have ill-health. 
There is no way to escape having ill-health. Remember a time when you
or a loved one has been sick—colds, flu, allergies, aches, pains,
muscle strains, and injuries. Notice that frequently these transform
naturally into well-being, and over time, into ill-health.
%p

%h3 3.  I am of the nature to die. 
There is no way to escape death. Bear in mind—through personal
experience or watching the news—that everyone, rich or poor, famous or
unknown—at all different ages, leaves this earth at some point. This
process is natural for all things on earth: "To everything there is a
season under heaven."
%p

%h3 4.  All that is dear to me, and everyone I love are of the nature to change.
There is no way to escape being separated from them. Everything we
encounter - family and friends, careers, beautiful possessions, and
even our youthful, strong bodies — everything is of the nature to
change.
%p

%h3 5.  My actions are my only true belongings. 
I cannot escape the consequences of my actions. My actions are the
ground on which I stand. Consider most important what you give to the
world: your love, kindness, support and encouragement to others.
%p

Adapted from The Heart of The Buddha’s Teachings, by Thich Nhat Hanh, page 124.
