#container { 
  margin: 0 auto;
  padding: 10px 0 0 0;
  width:  960px;
}

#left { 
  float: left;
/*   width: 500px; */
  width: 60%;
}

iframe {
  border: 2px solid blue;
}

#right {
    float: right;
    width: 33%;
/*     border-top:1px solid #fefbd2; */
    border-left:2px solid #000;
    padding: 0px 0px 15px 15px;
/*     margin-top: -1px; */
/*         margin-right: 200px; */
/* 	width: 200px; */
}

#right-clear {
    float: right;
    width: 33%;
/*     border-top:1px solid #fefbd2; */
/*     border-left:2px solid #000; */
    padding: 0px 0px 15px 15px;
/*     margin-top: -1px; */
/*         margin-right: 200px; */
/* 	width: 200px; */
}

#vlm { 
  text-align: center;
  text-indent: 50%;
  color:#000000;
}
