%h3#sitting_meditation Sitting Meditation

"Sit or lie down in a way that allows your body to rest. Sitting, your
head and spine form a straight line. Relax all your muscles. Find a
way of sitting that allows you to sit for at least 20 minutes without
becoming too stiff or tired. As soon as you sit down, pay attention to
your breath. Then notice your posture, a little bit everywhere. Relax
the muscles in your face. If you are angry or worried, those muscles
will be tense. Smile lightly, and you will relax hundreds of muscles
in your face. Then notice your shoulders, and let go of the tension
there. Don't try too hard. Just breathe mindfully, and scan your
whole body."
%p
Thich Nhat Hanh, The Mindfulness Bell, Issue 23, pages 1,4.

%h3#walking_meditation Walking Meditation

"Walk more slowly than you usually do, but not too slowly, while
breathing normally. Do not try to control your breathing. Walk along
this way for a few minutes. Then notice how many steps you take as
your lungs fill and how many steps you take as they empty. In this
way, your attention includes both breath and steps. You are mindful of
both.... Your half-smile brings calmness and delight to your steps and
your breath.... After a few hours of serious practice, you will find
that the four of them — the breath, the counting, the steps, and the
half-smile — blend together in a marvelous balance of
mindfulness. This is equanimity, created by the practice of walking
meditation. The four elements of breathing, counting, stepping, and
the half-smile become one."
%p
Thich Nhat Hanh, A Guide to Walking Meditation.

%h3#bell_ringing Bell Ringing

On your arrival you might hear a bell sound and suddenly people around
you have stopped still, stopped talking, and stopped moving. It might
be the telephone ringing or the clock chiming, or the monastery bell
sounding. These are our bells of mindfulness. When we hear the sound
of the bell we relax our body and become aware of our breathing. We do
that naturally, with enjoyment, and without solemnity or being
stiffed.
%p
When we hear one of these mindfulness bells ring, we stop all of our
conversations and whatever we are doing and bring our awareness to our
breathing. The ringing bell has called out to us:
%p
Listen, listen,
%br
this wonderful sound brings me back to
%br
my true home.
%p
By stopping to breathe and restore our calm and our peace, we become
free, our work becomes more enjoyable and the friend in front of us
becomes more real. Back home we can use the ringing of our telephone,
the local church bells, the cry of a baby, or even the sound of fire
engines and ambulances as our bells of mindfulness. With just three
conscious breaths we can release the tensions in our body and mind and
return to a cool and clear state of being.

%h3#noble_silence Noble Silence

A period of deep silence is observed starting from the end of the
evening sitting meditation until after breakfast the next
morning. This is very healing. We allow the silence and the calmness
to penetrate our flesh and bones. We allow the energy of the Sangha
and its mindfulness to penetrate our body and mind. We go back to our
tents or dormitories slowly, aware of every step. We breathe deeply
and enjoy the stillness and the freshness. Let us not talk to the
person walking by our side; she or he needs our support, too. We can
stay alone outside with the trees and the stars for about ten minutes,
then go inside to use the bathroom, to change and go to bed right
away.
%p
Lying on our back, we can practice Deep Relaxation until sleep
comes. In the morning, we move mindfully and silently, taking time to
breathe, to go to the bathroom and then proceeding right away to the
meditation hall. We do not have to wait for anyone. When we see
someone along the path, we just join our palms and bow, allowing him
or her to enjoy the morning the way we do.
%p

We need everyone to participate for the practice to be deep and
joyful. This is the practice we do every day, except on lazy nights
and on festival days like the Full Moon Celebration. Thank you for
your joyful practice.

 
%h3#breathing Breathing

Our breathing is a stable solid ground that we can take refuge
in. Regardless of our internal weather- our thoughts, emotions and
perceptions- our breathing is always with us like a faithful
friend. Whenever we feel carried away, or sunken in a deep emotion, or
scattered in worries and projects, we return to our breathing to
collect and anchor our mind.
%p

We feel the flow of air coming in and going out of our nose. We feel
how light and natural, how calm and peaceful our breathing
functions. At any time, while we are walking, gardening, or typing, we
can return to this peaceful source of life.
%p

We may like to recite:
%p
Breathing in I know that I am breathing in.
%br
Breathing out I know that I am breathing out.
%p

We do not need to control our breath. Feel the breath as it actually
is. It may be long or short, deep or shallow. With our awareness it
will naturally become slower and deeper. Conscious breathing is the
key to uniting body and mind and bringing the energy of mindfulness
into each moment of our life.
