<% @page_title = "About" %>

<div class="container">

  <div id="left">

  Everyone who comes to practice is a member of the mindfulness
  community. Even if we come to Plum Village for only one week, our
  presence and our practice can contribute to the vitality and harmony
  of the mindfulness community.

  <p>
  In society, much of our suffering comes from feeling disconnected from
  one another. We often don’t feel a real connection even with people we
  live close to, such as our neighbors, our co-workers and even our
  family members. Each person lives separately, cut off from the support
  of the community. Being with the Mindfulness Community can heal these
  feelings of isolation and separation. We practice together, share a
  room together, eat side by side and clean pots together. Just by
  participating with other practitioners in the daily activities we can
  experience a tangible feeling of love and acceptance.
  </p>

  <p>
  Thay often says that the mindfulness community is a garden, full of
  many varieties of trees and flowers. When we can look at ourselves and
  at others as beautiful, unique flowers and trees we can truly grow to
  understand and love one another. One flower may bloom early in the
  spring and another flower may bloom in late summer. One tree may bear
  many fruits and another tree may offer cool shade. No one plant is
  greater, or lesser, or the same as any other plant in the garden. Each
  member of the mindfulness community also has unique gifts to offer to
  the community. We each have areas that need attention as well. When we
  can appreciate each member’s contribution and see our weaknesses as
  potential for growth we can learn to live together harmoniously. Our
  practice is to see that we are a flower or a tree, and we are the
  whole garden as well, all interconnected.
  </p>

  </div>

  <div id="right">
    <%= image_tag("peace.png", :width => "300", :height => "300") %>
  </div>

</div>
