.container
  #left
    Our group started in Spring 2008.  We simply get together and
    practice stopping, calming and resting.

    %p
      The first night we met, we heard multiple suggestions for names.
      One member decided to go outside and look at the city sign naming
      the stream that runs next to the property.  Amazingly, the stream is
      called "Bliss Run" and we decided that would be the name of our
      group.

    %p 
      We are open to everyone from all faiths and backgrounds.

  #right
    .watershed_sign
