<% @page_title = "Calendar" %>

<div class="container">

  <div id="left">

    <h3>Bliss Run Calendar</h3>

    <iframe src="https://www.google.com/calendar/hosted/blissrun.org/embed?showTitle=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=info%40blissrun.org&amp;color=%232952A3&amp;src=ht3jlfaac5lfd6263ulfh4tql8%40group.calendar.google.com&amp;color=%23A32929&amp;ctz=America%2FNew_York" width="600" height="400" frameborder="0" scrolling="no"></iframe>

    <center>
      <%= link_to "Full Calendar", "http://www.google.com/calendar/hosted/blissrun.org/embed?src=info%40blissrun.org", :popup => true %>
    </center>

</div>

  <div id="right-clear">

    <h3>Upcoming Events</h3>

<iframe src="https://www.google.com/calendar/hosted/blissrun.org/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=info%40blissrun.org&amp;color=%232952A3&amp;ctz=America%2FNew_York" width="300" height="400" frameborder="0" scrolling="no"></iframe>

  </div>

</div>
