<% @page_title = "Calendar" %>

<div class="container">

<h3>Upcoming Events</h3>

April 11th - social gathering at a members' house.

<p>

<iframe src="https://www.google.com/calendar/hosted/blissrun.org/embed?title=Bliss%20Run%20Mindfulness%20Community%20Calendar&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=info%40blissrun.org&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="600" height="400" frameborder="0" scrolling="no"></iframe>

<br>

<%= link_to "Bliss Run Calendar", "http://www.google.com/calendar/hosted/blissrun.org/embed?src=info%40blissrun.org", :popup => true %>

</div>
