.container
  #left
    %h3 Bliss Run Calendar
    For more information on any event please click on the event.

    / Params:  800(w) x 600(h), turn off tabs and calendar list, strip style
    %iframe( src="https://calendar.google.com/calendar/b/1/embed?showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=info%40blissrun.org&amp;color=%2329527A&amp;ctz=America%2FNew_York" width="800" height="600" frameborder="0" scrolling="no" )
