<% @page_title = "Calendar" %>

<!-- Params:  600(w) x 400(h), turn off tabs and calendar list -->

<div class="container">

  <div id="left">

    <h3>Bliss Run Calendar</h3>
    For more information on any event please click on the event.
    <iframe src="https://www.google.com/calendar/hosted/blissrun.org/embed?showTabs=0&amp;showCalendars=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=info%40blissrun.org&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border:solid 2px #777 " width="600" height="400" frameborder="0" scrolling="no"></iframe>

    <center>
      <%= link_to "Full Calendar", "http://www.google.com/calendar/hosted/blissrun.org/embed?src=info%40blissrun.org", :popup => true %>
    </center>
  </div>

  <div id="right">
    <h3>Upcoming Events</h3>
    <%= link_to("Sat 10/31 Day Of Mindfulness", 'http://docs.google.com/View?id=dfckg4kc_8c9qdp5d4', :popup => true ) -%>
  </div>
</div>


</div>
