.container
  #left
    For more information on any event please click on the event.

    / Params:  800(w) x 400(h), turn off tabs, calendar list, strip style
    / Change:  iframe -> object, src -> data attributes
    / Add: showTabs=0 & showCalendars=0
    %object(data="https://calendar.google.com/calendar/embed?src=info%40blissrun.org&ctz=America%2FNew_York&showTabs=0&showCalendars=0" width="800" height="400")
