.container
  #left
    %h3 Bliss Run Calendar
    For more information on any event please click on the event.

    / Params:  600(w) x 400(h), turn off tabs and calendar list
    %iframe( src="https://www.google.com/calendar/hosted/blissrun.org/embed?showTabs=0&amp;showCalendars=0&amp;height=400&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=info%40blissrun.org&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border:solid 2px #777 " width="600" height="400" frameborder="0" scrolling="no" )

    %center= link_to "Full Calendar", "http://www.google.com/calendar/hosted/blissrun.org/embed?src=info%40blissrun.org", :popup => true

  #right.calendar
    %h3 Upcoming Events
    =link_to "10/7-10/10:  Pittsburg Day Of Mindfulness", "https://docs.google.com/fileview?id=0B0HkuTql6GCrMzM4ZmQ3NGYtN2Q5Mi00MGQ5LWIzNTktOWIzN2EzMzYyZjIx&hl=en&authkey=CKyR2bkO", :popup => true
    %p
    =link_to "10/15-17: MPCF Retreat",             "http://www.mpcf.org/Weekend_Retreats_2010.html",             :popup => true
    %p
    =link_to "12/10-12: MPCF Retreat",             "http://www.mpcf.org/Weekend_Retreats_2010.html",             :popup => true
