<% @page_title = "Contact" %>

<%= javascript_include_tag :defaults %>

<div class="container">

  <div id="left">
    <h2>We would love to hear from you!</h2>

    If you have any questions about our practice, feedback for our
    website, or anything else, please feel free to email us.

    <h2>Mailing List</h2>

    We also have a low volume mailing list informing you of upcoming
    events, including day's of mindfulness, retreats, etc.  Send an
    email to the subscribe address and we'll add you to the list.

    <div id="recaptcha_form">

      <h2>Email addresses</h2>

      To help us eliminate as much spam as possible we use a captcha.
      Please type in the string below to show our email addresses.
      <p>

      <script type="text/javascript">
        var RecaptchaOptions = { 
            theme : 'clean', 
            tabindex : 0
        };
      </script>

      <% form_remote_tag :url => 'addresses' do %>
        <%= recaptcha_tags %>
        <%= submit_tag "I'm Human" %>
      <% end -%>

    </div>

    <div id="recaptcha_blinddown" style="display:none;">
      <a href="#" onclick="Effect.BlindDown('recaptcha_blinddown'); return false;"></a>
    </div>

  </div>

  <div id="right">
    <div class="peace_hat_small">
    </div>
  </div>

</div>

<script type="text/javascript">
  $('recaptcha_response_field').focus();
  $('recaptcha_response_field').select();
</script>
