/ Efficiency: only load this when hit this page
= javascript_include_tag :defaults

.container
  #left
    %h2 We would love to hear from you!

    If you have any questions about our practice, feedback for our
    website, or anything else, please feel free to email us.

    %h2 Mailing List

    We also have a low volume mailing list informing you of upcoming
    events, including day's of mindfulness, retreats, etc.  Send an
    email to the subscribe address and we'll add you to the list.

    %div#recaptcha_form

      %h2 Email addresses

      To help us eliminate as much spam as possible we use a captcha.
      Please type in the string below to show our email addresses.
      %p

      - form_remote_tag :url => 'addresses' do
        = recaptcha_tags :display => { :theme => 'clean' }
        = submit_tag "I'm Human"

    %div#recaptcha_blinddown{ :style => "display:none;" }
      %a{ :href => "#", 
          :onclick => "Effect.BlindDown('recaptcha_blinddown'); return false;" }

  #right
    .peace_hat_small

:javascript
  $('recaptcha_response_field').focus();
  $('recaptcha_response_field').select();
