<% @page_title = "Contact" %>

<div class="container">

  <div id="left">
    <h2>We would love to hear from you!</h2>

    If you have any questions about our practice, feedback for our
    website, or anything else, please feel free to email us:
    <p>

    <b>info</b> [at] <b>blissrun</b> [dot] <b>org</b>

    <h2>Mailing List</h2>

    We also have a low volume mailing list informing you of upcoming events,
    including day's of mindfulness, retreats, etc.

    <p>
    <b>mindfulness-subscribe</b> [at] <b>blissrun</b> [dot] <b>org</b>
    <br>
    <b>mindfulness-unsubscribe</b> [at] <b>blissrun</b> [dot] <b>org</b>

  </div>


  <div id="right">
    <%= image_tag("peace_hat_small.png") %>
  </div>

</div>
