<% @page_title = "Contact" %>

<div class="container">

  <div id="left">
    <h2>We would love to hear from you!</h2>

    If you have any questions about our practice, feedback for our
    website, or anything else, please feel free to email us:

    <h4>info [at] blissrun [dot] org</h4>

    <h2>Mailing List</h2>

    We also have a low volume mailing list informing you of upcoming events,
    including day's of mindfulness, retreats, etc.

    <p>
      <b>To subscribe</b>:  mindfulness-subscribe [at] blissrun [dot] org

    <p>
      <b>To unsubscribe</b>:  mindfulness-unsubscribe [at] blissrun [dot] org
  </div>


  <div id="right-clear">
    <%= image_tag("peace_hat_small.png") %>
  </div>

</div>
