<div id="contact">
<div id="leftbar">
<h2>We would love to hear from you!</h2>

If you have any questions about our practice, feedback for our
website, etc. feel free to email us.

<h3>info at blissrun dot org</h3>

<h2>Mailing List</h2>
We have a low volume mailing list informing you of upcoming events,
including day's of mindfulness, retreats, etc.

<br>
To subscribe:  mindfulness-subscribe at blissrun dot org

<br>
To unsubscribe:  mindfulness-unsubscribe at blissrun dot org

</div>

<style type="text/css">
  iframe {border: 2px solid blue;}
</style>

<div id="sidebar">

<iframe align="right" width="300" height="300" frameborder="0" scrolling="no"
        marginheight="0" marginwidth="0"
        src="http://maps.google.com/maps?hl=en&amp;q=2685+E+Livingston+Ave+Columbus,+OH+43209&amp;ie=UTF8&amp;s=AARTsJqhCZslqaFcQ2ZhXiSCFm2WqIAT3w&amp;ll=39.947977,-82.925062&amp;output=embed&amp;s=AARTsJqhCZslqaFcQ2ZhXiSCFm2WqIAT3w">
</iframe>

<br/>

<small>
<a href="http://maps.google.com/maps?hl=en&amp;q=2685+E+Livingston+Ave+Columbus,+OH+43209&amp;ie=UTF8&amp;ll=39.947977,-82.925062&amp;spn=0.01974,0.025749&amp;z=14&amp;source=embed"
style="color:#0000FF;text-align:left">View Larger Map</a></small>

</div>

</div>
