.container
  #left
    %span.capitalize> W
    elcome, dear friends!!  Bliss Run Mindfulness Community practices
    mindfulness together to promote enjoyment.
    %p

    %span.capitalize> W
    e focus on enjoying each moment.  We enjoy walking.  
    We enjoy sitting. We enjoy sharing.
    Wearing a smile while practicing enhances the enjoyment.
    We come here from all places and all faiths with open hearts and open minds.
    %p

    %span.capitalize> C
    oming together, as a community, our practice of mindfulness becomes
    more joyful, relaxed, and steady.  
    We are bells of mindfulness for one another, supporting and reminding
    each other along the path of practice.
    %p

    %span.capitalize> W
    ith the support of the community, we can cultivate peace and joy,
    within and around us, as a gift for all of those whom we love and
    care for...and, even for those we have yet to meet.
    %p

    %span.capitalize> W
    e can cultivate our solidity and freedom - solid in our deepest
    aspiration and freedom from our fears, misunderstandings and our
    suffering.

  #right
    .stones
    %center
      %h2
        I have arrived.
        %br 
        I am home.
