<% @page_title = "Home" %>

<div class="container">

  <div id="left">
  Bliss Run Mindfulness Community practices mindfulness together to promote enjoyment.  

  <p>
  We focus on enjoying each moment.  We enjoy walking.  
  <p>
  We enjoy sitting. We enjoy sharing.
  <p>
  Wearing a smile while practicing enhances the enjoyment.
  <p>


  We come here from all places and all faiths with open hearts and open minds.
  <p>

  Coming  together, as a community, our practice of mindfulness becomes more joyful, relaxed, and steady. 
  <p>
  We are bells of mindfulness for one another, supporting and reminding each other along the path of practice. 
  <p>
  With the support of the community, 
  we can cultivate peace and joy, within and around us, as a gift for all of those whom we love and care for...and, even for those we have yet to meet.
  <p>
  We can cultivate our solidity and freedom – solid in our deepest aspiration and freedom from our fears, misunderstandings and our suffering.

</div>

  <div id="right-clear">
    <%= image_tag("peace.png", :width => "300", :height => "300") %>

    <center><h2>I have arrived.  I am home.</h2></center>
  </div>

  <div class="clearfloat"></div> 

</div>
