.container
  #left
    %p We meet every Thursday from <em>7:00pm - 9:00pm.</em>

    %p
      Brookwood Presbyterian Church
      %br 2685 E. Livingston Avenue
      %br Columbus, OH 43209

    %p
      Chairs and blankets are available to use.  Please consider bringing
      your own yoga mat or cushion.  Newcomers may want to come at 6:30pm
      for a brief orientation.

    Typical Schedule:
    %br 6:30 Mindful Setting Up (newcomer orientation)
    %br 7:00 Welcome, Dear Friends
    %br 7:05 Guided Relaxation
    %br 7:35 Walking meditation
    %br 7:55 Sitting Meditation
    %br 8:20 Sharing with Friends
    %br 8:45 Announcements
    %br 8:50 Mindful Pack-Up
    %br 9:00 Mindful Goodbyes

  #right
    %center 
      = @map
      %br
      = @larger_map_link
