<% @page_title = "Meetings and Events" %>

<div class="container">

  <div id="left">

  We meet every Thursday from 7-9pm at the Brookwood Presbyterian
  Church, 2685 E. Livingston Avenue, Columbus, OH 43209
  <p>

  Chairs and blankets are available to use.  You are free to bring
  your own yoga mat, blanket and/or pillow to sit on.
  <p>

  Typical Schedule:
  <br>
  6:30 Mindful Setting Up 
  <br>
  7:00 Welcome, Dear Friends
  <br>
  7:05 Guided Relaxation
  <br>
  7:35 Walking meditation
  <br>
  7:55 Sitting Meditation
  <br>
  8:20 Sharing with Friends
  <br>
  8:45 Announcements
  <br>
  8:50 Mindful Pack-Up
  <br>
  9:00 Mindful Goodbyes
  <br>

  </div>

  <div id="right-clear">
    <%= @map %>
    <center>
      <%= @link2 %>
    </center>
  </div>

  <div class="clearfloat"></div> 

</div>

