.container
  #left
    We meet every Thursday from <em>7:00pm - 9:00pm.</em>

    %p
      Unity Church
      %br 4211 Maize Road
      Columbus, OH 43224

    %p
      Chairs, cushions and blankets are available to use.
      If you'd prefer, you are welcome to bring
      your own yoga mat, cushion and/or blanket.

    Typical Schedule:

    %ul#schedule
      %li 6:45 Mindful Setup (newcomer orientation)
      %li 7:00 Welcome, Dear Friends
      %li 7:20 Guided Relaxation
      %li 7:40 Walking Meditation
      %li 8:00 Sitting Meditation
      %li 8:20 Sharing with Friends
      %li 8:45 Announcements
      %li 8:50 Mindful Pack-up
      %li 9:00 Mindful Goodbyes

  #right
    %center
      != @map
