- @page_title = 'Meetings and Events'

.container
  #left
    We meet every Thursday from <em>7:00 pm - 9:00 pm.</em>

    %p
      Unity Church
      %br 4211 Maize Road
      Columbus, OH 43224

    %p
      Chairs, cushions and blankets are available to use.
      Of course, you are welcome to bring your own yoga mat,
      cushion and/or blanket.

    Typical Schedule:

    %ul#schedule
      %li 6:45 pm Mindful Setup (newcomer orientation)
      %li 7:00 pm Welcome, Dear Friends
      %li 7:20 pm Guided Relaxation
      %li 7:40 pm Walking Meditation
      %li 8:00 pm Sitting Meditation
      %li 8:20 pm Sharing with Friends
      %li 8:45 pm Announcements
      %li 8:50 pm Mindful Pack-up
      %li 9:00 pm Mindful Goodbyes

  #right
    %center
      != @map
