.container
  #left
    Our training is based on a few concepts which are briefly
    described here.  Much more information on mindfulness can be found
    on the Internet or email us for more resources.

    %ul
      %li=link_to "Five mindfulness trainings", "/docs/five_mindfulness_trainings"
      %li=link_to "14 mindfulness trainings", "/docs/14_mindfulness_trainings"
      %li=link_to "Five remembrances", "/docs/five_remembrances"

    Additional concepts found in our group:
    %ul
      %li=link_to "Bell ringing", "/docs/concepts#bell_ringing"
      %li=link_to "Breathing", "/docs/concepts#breathing"
      %li=link_to "Noble silence", "/docs/concepts#noble_silence"
      %li=link_to "Walking meditation", "/docs/concepts#walking_meditation"
      %li=link_to "Sitting meditation", "/docs/concepts#sitting_meditation"

    Additional Resources
    %ul
      %li=link_to "Plum Village", "http://www.plumvillage.org/", :popup => true
      %li=link_to "Deer Park Monastery", "http://dpweb.org/", :popup => true
      %li=link_to "Blue Cliff Monastery", "http://www.bluecliffmonastery.org/", :popup => true

  #right
    .mindfulness
