<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <%= stylesheet_link_tag "docs" %>

    <title>Bliss Run Mindfulness Community - <%= @page_title %></title>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
