<div class="header">

  <h1>Bliss Run Mindfulness Community</h1>

  <span id="header-subtitle">
    Mindfulness is the way of becoming friends with others.
  </span>

  <div class="clearfloat"></div> 

  <ul>
    <% %w(home about meetings calendar resources contact).each do |item| %>
      <li><%= link_to nil, item %></li>
    <% end %>
  </ul>
</div>
<div class="container">
  <h3 style="color:red;padding:0 0 0 10px;">
    UPDATE: as of 12/2/2010 we have a
    <em><%= link_to "new meeting location.", "meetings" -%></em>
  </h3>
</div>
