<div class="header">

  <h1>Bliss Run Mindfulness Community</h1>

  <span id="header-subtitle">
    Mindfulness is the way of becoming friends with others.
  </span>

  <div class="clearfloat"></div> 

  <ul>
    <% %w(home about meetings calendar resources contact).each do |item| %>
      <li><%= link_to nil, item %></li>
    <% end %>
  </ul>
</div>
